@import "common.css";
@import "screen.css";

body {
  font-family: Verdana, sans-serif;
}

#content {
  width: 40em;
  padding: 0.5em 1em 0.5em 1em;
}

.title {
  float: left;
}

.pagenr {
  float: right;
}

.authors {
   font-style: italic;
   padding-left: 1em;
}

.abstract {
   width: 80ex;
   text-align: justify
   padding-left: 1em;
}
