/* screen.css of MoinMoin theme "sinorca4moin" by David Linke.
    $Id: screen.css 104 2006-08-30 20:41:40Z linke $
*/

/* ##### Common Styles ##### */

body {
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.0em;
}

a {text-decoration: none;
}


/* ##### Header ##### */
.superHeader {
  color: white;
  background-color: rgb(100,135,220);
  height: 2.4em;
  font-size: 0.8em;
}

.superHeader a {
  color: white;
  text-decoration: none;
}

.superHeader a:hover {
  text-decoration: underline;
}

.superHeader ul {
  display: inline;
}

.superHeader li {
  display: inline;
  padding: 0;
  margin: -10px;
}

.superHeader .left {
  text-align: left;
  float: left;
  margin: 0.5ex 0px 0.5ex;
  padding: 0 0 0 10px;
  display: inline; /* forces IE to calc correct margin */
}

.superHeader .right {
  text-align: right;
  float: right;
  margin: 0.5ex 10px 0.5ex 0px;
  padding 0;
  display: inline; /* forces IE to calc correct margin */
}

.midHeader {
  color: rgb(39,78,144);
  background-color: rgb(140,170,230);
  margin: 0;
  font-size: 3.2em;
  font-weight: normal;
  line-height: 1.4em;
}

.midHeader a {
  text-decoration: none;    
  color: rgb(39,78,144);
  margin: 5px 0px 5px 10px;
}

#logo {
  /* contains image and/or text link */
  display: inline;
}

#logo img {
  /* logo image */
  vertical-align: bottom;
  margin: 5px 0px 5px 0px;
}

#username {
  white-space: nowrap;
}

#username ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 5px 0;
  padding: 0;
}

#username li {
  padding: 0.1ex 15px;
}

.subHeader {
  color: white;
  background-color: rgb(0,51,153);
  font-size: 0.9em;
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeader a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}  

.subHeader a:hover {
  text-decoration: underline;
}

.superHeader .highlight, .subHeader .highlight {
  color: rgb(253,160,91);
}


/* ##### Side Bar ##### */

#sidebar {
/*  margin: 5px, 0px;*/
  float: left;
/*  background-color: green; for debugging IE surprises*/
  width: 212px;
  padding: 0;	
  overflow: hidden;
  display: inline; /* forces IE to calc correct margin */
}

#sidebar a {
  color: rgb(0,102,204);
  background-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0.25em 0;
  display: block;
}

#sidebar .current {
  color: black;
  background-color: white;
  border: 1px solid rgb(253,160,91);
}

#sidebar a:hover {
  color: white;
  background-color: rgb(100,135,220);
  text-decoration: none;
}

.sidepanel {
  margin: 5px;
  float: left;
  width: 200px;	
  border: 1px solid #9c9c9c;
  background: #e5e5e5;
  overflow: hidden; /* new 18:11 */
  display: inline; /* forces IE to calc correct margin */
}

.sidepanel h1 {
  margin: 0;
  padding: 0.4em 10px;
  border: none;
  font-size: 1em;
  color: black;
}

.sidepanel li {
  margin: 0;
  padding: 0.1ex 15px;
}

.sidepanel ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0 0 5px 0;
  padding: 0;
}

.actionsmenu {
  width: 180px;
}


/* ===== Iconbar ===== */
#iconbar {
  float: right;
  margin: 10px 0px;
  padding: 0;
  white-space: nowrap;
}

*[dir="rtl"] #iconbar {
  float: right;
  margin: 5px 10px 5px 0;
}

#iconbar li {
  display: inline;
}

#iconbar img {
  padding: 1px;
}


/* title of the current wiki-page */
#pagelocation {
  padding: 10px 0;
  color: rgb(100,135,220);
}


/* ##### Main Copy ##### */

#page {
  color: black;
  background-color: transparent;
/*  background-color: yellow; for debugging IE surprises*/
/*  text-align: justify;*/
  line-height: 1.4em;
  margin: 0 10px 10px 215px;
  padding: 0px 0px 10px 0px;
}

#page p {
  margin: 0 0 0.25em 0;
  padding: 0;
}

/* Use same margin for normal list item as for li p (see common.css) */
#page li {
  padding: 0;
  margin: 0.25em 0;
}

#page a {
  color: rgb(0,102,204);
  background-color: transparent;
}

#page a.nonexistent, a.badinterwiki {
  color: #900000;
  border-bottom: dotted 1px;
}

#page a:hover {
  text-decoration: underline;
}

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0;
}

dd {
  margin: 0 0 0.5em 1em;
  padding: 0;
}

pre {
  background-color: #FFF8ED;
}

/* ##### Footer ##### */

#footer {
  color: white;
  background-color: rgb(100,135,220);
  font-size: 0.9em;
  margin: 0;
  padding: 1ex 2.5mm;
  clear: both;
}

#footer a {
  color: white;
  background-color: transparent;
  text-decoration: underline ;
}

#footer a:hover {
  text-decoration: none;
}


/* DL addition from rightsidebar/classic/modern screen.css*/

#pagetrail {
  clear: left;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  height: 2em;
  border-bottom: 1px solid rgb(153,153,153);
}

*[dir="rtl"] #pagetrail {
  clear: right;
}

/* for broken IE */ 
* html #pagetrail li {
  border-right: 1px solid #AAA;
  padding: 0 0.3em 0 0;
}

#pagetrail li  {
  float: left;
  display: block;
  margin: 2px 0 3px 5px;
  padding: 0 2px;
}

*[dir="rtl"] #pagetrail li {
  float: right;
}

#pagetrail a {
  text-decoration: none;
  color: rgb(0,102,204);
}

/* XXX Warning: non-ascii characters! */
#pagetrail li:after {
  content: " »";
}
#pagetrail li:last-child:after {
  content: "";
}

#searchform {
  float: right;
  margin: 5px 10px 0px;
  padding: 0;
  white-space: nowrap;
  display: inline;
}

*[dir="rtl"] #searchform {
  float: left;
}

#searchform form div {
  display: inline;
}

.editbar form, .editbar form div {
    display: inline;
    text-align: center;
}

#message {
  margin: 10px 10px 5px 215px;
  padding: 0.5ex;
  background-color: #FFFFA0;
  border: 2px solid red;
  line-height: 1.2em;
}

#message p{
  margin: 0;
}

#message a{
  margin: 0;
  color: rgb(0,102,204);
}

/* We use here dumb css1 ids because of IE suckiness */
#editor-comment {width: 70%;}
#editor-textarea {width: 99%;}

#pagebottom {
/*  clear: both;*/
}

#preview {
  border: 2px solid #e5e5e5;
  padding: .5em;
  background: url(../img/draft.png);
}

.diff {
  width:99%;
}

.diff-title {
  background-color: #C0C0C0;
}

.diff-added {
  background-color: #E0FFE0;
  vertical-align: sub;
}

.diff-removed {
  background-color: #FFFFE0;
  vertical-align: sub;
}

.diff-added span {
  background-color: #80FF80;
}

.diff-removed span {
  background-color: #FFFF80;
}

.searchresult dd span {
  font-weight: bold;
}

#version{
  margin: 5px 5px;
  padding: 0px;
  text-align: center;
  font-size: 1em; 
  color: #6C7680;
}

#credits{
  margin: 5px 5px;
  padding: 0px;
  text-align: center;
  font-size: 1em; 
}

#timings{
  margin: 5px 0px;
  padding: 0;
  text-align: center;
  font-size: 0.8em; 
  color: #6C7680;
}
#credits li {
  display: inline;
  padding: 0 10px;
}

#timings li {
  display: inline;
  padding: 0 5px;
}

#credits img {
  vertical-align: middle;
}

/* MonthCalendar css */

/* days without and with pages linked to them */
a.cal-emptyday {
  color: #777777;
  text-align: center;
}
a.cal-usedday {
  color: #000000;
  font-weight: bold;
  text-align: center;
}
/* general stuff: workdays, weekend, today */
td.cal-workday {
  background-color: #DDDDFF;
  text-align: center;
}
td.cal-weekend {
  background-color: #FFDDDD;
  text-align: center;
}
td.cal-today {
  background-color: #CCFFCC;
  border-style: solid;
  border-width: 2pt;
  text-align: center;
}
/* invalid places on the monthly calendar sheet */
td.cal-invalidday {
  background-color: #CCCCCC;
}
/* links to prev/next month/year */
a.cal-link {
  color: #000000;
  text-decoration: none;
}
th.cal-header {
  background-color: #DDBBFF;
  text-align: center;
}

/* for MonthCalendar mouseover info boxes */
TABLE.tip {
  color: black;
  background-color: #FF8888;
  font-size: small;
  font-weight: normal;
  border-style: solid;
  border-width: 1px;
}

TH.tip {
  background-color: #FF4444;
  font-weight: bold;
  text-align: center;
}

TD.tip {
  text-align: left;
}
*[dir="rtl"] TD.tip {
  text-align: right;
}

/* end MonthCalendar stuff */


/* Spans for line-anchors - uses * html hack so that the rule only applies to
 * IE (where omitting the "display: none" triggers rendering bugs).
 */
* html span.anchor { display: none; }

/* IE6 has a bug with rendering of float elements. We workaround this bug by
 * assigning those elements a height attribute because we currently don't know
 * a better solution. This results in IE calculating the correct height of the
 * characters and displaying them correctly. We don't know any negative side
 * effects of this workaround:
 */
/** html div#page { height: 0.001%; } this breaks sinorca4moin on IE6.0! */

* html div#header, html form#editor { height: 0.001%; }

/* Content Sidebar */

#content .sidebar {float: right; width: 200px; margin: 0 0 20px 20px;
    padding: 0; font-size: 0.85em;}
#content[dir="rtl"] .sidebar {float: left; margin: 0 20px 20px 0;}
#content .sidebar p {text-align: left;}
#content[dir="rtl"] .sidebar p {text-align: right;}
/* All headings use darker blue and some white space above */
#content .sidebar h3, #content .sidebar h4 {margin: 1.5em 0 0 0; 
    padding: 2px 8px; background: #B8C5D9;}
#content .sidebar *:first-child {margin-top: 0}
/* all block elements use light blue background */
#content .sidebar ul, #content .sidebar ol, #content .sidebar p, #content .sidebar table, #content .sidebar div {
    background: #F2F4F7;}
#content .sidebar ul, #content .sidebar ol {margin: 0; padding: 0;}
/* Paragraphs and list items separated with bottom border */
#content .sidebar p, #content .sidebar li {margin: 0; padding: 4px 8px;
    border-bottom: 1pt solid #E6EAF0;}
#content .sidebar li { display: block;}
#content .sidebar li p {margin: 0; padding: 0; border: none;}

/* Content Figures 

Default figure float to the end of the page. Left of right classes float to the left or right :-)
*/
#content .figure {float: right; margin: 0 0 0 20px; padding: 0; 
    font-size: 0.85em;}
#content[dir="rtl"] .figure {float: left; margin: 0 20px 0 0;}
#content .figure.left {float: left; margin: 0 20px 0 0;}
#content .figure.right {float: right; margin: 0 0 0 20px;}
#content .figure p {margin: 0; text-align: center; font-weight: bold;}

