.DS_Store
.ipynb_checkpoints
output
_build
*.pyc
*.swp
*~
.gitignore
.vscode/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v10_fast/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v10_fast_sleep05/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v11_fast/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v11_fast_sleep01/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v11_fast_sleep05/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v12_fast/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v12_fast_sleep01/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_2node_v12_fast_sleep05/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_3node_v11/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_3node_v12/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_file_v10_1exec/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_file_v11/
papers/ralph_kube/data/tests_performance/N128_OMP16_32nodes_file_v12/
papers/ralph_kube/plots/kstar_dtn_xfer.pdf
texput.log
