{{py:
def bibtex_caps(words):
    from string import ascii_uppercase
    return ''.join(w if (w not in ascii_uppercase) else '{%s}' % w for w in words)
}}

@InProceedings{ {{'-'.join([article['paper_id'], proceedings['citation_key']])}},
  author    = { {{bibtex_caps(' and '.join(article['author']))}} },
  title     = { {{bibtex_caps(article['title'])}} },
  booktitle = { {{bibtex_caps(proceedings['title']['full'])}} },
  pages     = { {{' - '.join([str(article['page']['start']), str(article['page']['stop'])])}} },
  year      = { {{proceedings['year']}} },
  editor    = { {{bibtex_caps(' and '.join(proceedings['editor']))}} }
}
