\documentclass[letterpaper,compsoc,onecolumn,twoside,english]{IEEEtran}
\thispagestyle{empty}
\pagestyle{empty}
\usepackage[utf8]{inputenc}
\usepackage{parskip}
\setlength{\topmargin}{4in}

\begin{document}


\section*{%
{{proceedings['title']['full']}}
}

\vspace{1mm}

Edited by {{proceedings['editor'][0]}} and {{proceedings['editor'][1]}}.

\vspace{3mm}

{{proceedings['title']['conference']}} {{proceedings['year']}}\\
{{proceedings['location']}}\\
{{proceedings['dates']}}, {{proceedings['year']}}

\vspace{1cm}

Copyright \copyright{ {{ proceedings['year']}}}. The content of the articles of the
Proceedings of the Python in Science Conference is copyrighted
and owned by their original authors.

For republication or other use of the material published, please 
contact the copyright owners to obtain permission. 

\vspace{1cm}

ISBN-13: {{proceedings['isbn']}}

\end{document}
