<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <title>{{html_quote(proceedings['title']['short']) | html}}</title>
    <link rel="stylesheet" href="scipy-proc.css" type="text/css"/>
    <script type="text/javascript" src="http://conference.scipy.org/proceedings/proc_links.js"></script>
    <script type="text/javascript" src="http://conference.scipy.org/proceedings/google_analytics.js"></script>
{{if locals().has_key('article')}}
    <meta name="citation_title" content="{{article['title']}}"/> 
    {{for auth in article['author']}}
    <meta name="citation_author" content="{{auth}}" />
    {{endfor}}
    <meta name="citation_publication_date" content="{{proceedings['year']}}" />
    <meta name="citation_conference_title" content="{{proceedings['title']['full']}}" />
    <meta name="citation_firstpage" content="{{article['page']['start']}}" />
    <meta name="citation_lastpage" content="{{article['page']['stop']}}" />
    <meta name="citation_pdf_url" content="http://conference.scipy.org/proceedings/scipy{{proceedings['year']}}/pdfs/{{article['paper_id']}}.pdf" />
{{endif}}
</head>

<body>
  <div style="padding: 0 0 0 0; border: 0 0 0 0; margin: 0 0 0 0;" class="midHeader">
  <div style="padding: 0 0 0 0; border: 0 0 0 0; margin: 0 0 0 0;" id="locationline">
      <div style="padding: 0 0 0 0; border: 0 0 0 0; margin: 0 0 0 0;" id="logo">
      <a style="padding: 0 0 0 0; border: 0 0 0 0; margin: 0 0 0 0;" href="/">
      <img src="logo.png" style="padding: 0 0 0 0; border: 0 0 0 0; margin: 0 0 0 0;" alt="{{proceedings['title']['acronym']}} {{proceedings['year']}} Conference">
      </a>
      </div>
  </div>
  </div>
  <div class="subHeader">
    <span id="breadcrumbs">
	<a href="/" class="menu">Conference site</a>

	»
	<a href="/proceedings" class="menu">Proceedings</a>
    </span>
</div>

<div id="sidebar">
    <div class="sidepanel">
    <ul id="navibar">
        <li class="download icon"> <a href="{{pdf}}" title="Download article PDF"><strong>Download PDF</strong></a></li>
        <li class="download icon"> <a href="{{bibtex}}" title="Download citations"><strong>Download Citation</strong></a></li>
        <li class="print icon"><a href="{{pdf}}" onclick="window.print();return false;" title="Print"><strong>Print article</strong></a></li>
      </ul>
    </div>
    <div class="sidepanel">
    <a href="/proceedings"><h1>Proceedings</h1></a>
      <script>proc_versions();</script>
    </div>
</div> <!-- sidebar -->

<div id="page">
    <div id="main">
      <div id="content" dir="ltr">
        <div class="sidebar">

	<!-- The following is not included in static-generated pages -->
        </div>
        <div class="post">
	<span>
