
{{if keynote}}
<h1>Keynote Slides</h1>

<div id="keynote">
  <ul>
      {{for entry in keynote}}
        <li>{{html_quote(entry['title']) | html}},
        <em>{{html_quote(', and '.join(i['name'] for i in entry['authors'])) | html}}
            {{if entry.get('doi')}}
            <p><a href="https://doi.org/{{html_quote(entry['doi']) | html}}">doi.org/{{html_quote(entry['doi']) | html}}</a></p>{{endif}}
            </em>
        </li>
      {{endfor}}

    </ul>

</div>
{{endif}}

{{if slides}}
<h1>Accepted Talk Slides</h1>

<div id="slides">
  <ul>
      {{for entry in slides}}
        <li>{{html_quote(entry['title']) | html}},
        <em>{{html_quote(', and '.join(i['name'] for i in entry['authors'])) | html}}
            {{if entry.get('doi')}}
            <p><a href="https://doi.org/{{html_quote(entry['doi']) | html}}">doi.org/{{html_quote(entry['doi']) | html}}</a></p>{{endif}}
            </em>
        </li>
      {{endfor}}

    </ul>

</div>
{{endif}}

{{if posters}}
<h1>Accepted Posters</h1>

<div id="posters">
  <ul>
      {{for entry in posters}}
        <li>{{html_quote(entry['title']) | html}},
        <em>{{html_quote(', and '.join(i['name'] for i in entry['authors'])) | html}}
            {{if entry.get('doi')}}
            <p><a href="https://doi.org/{{html_quote(entry['doi']) | html}}">doi.org/{{html_quote(entry['doi']) | html}}</a></p>{{endif}}
            </em>
        </li>
      {{endfor}}

    </ul>

</div>
{{endif}}

{{if tools}}
<h1>SciPy Tools Plenaries</h1>

<div id="tools">
  <ul>
      {{for entry in tools}}
        <li>{{html_quote(entry['title']) | html}},
        <em>{{html_quote(', and '.join(i['name'] for i in entry['authors'])) | html}}
            {{if entry.get('doi')}}
            <p><a href="https://doi.org/{{html_quote(entry['doi']) | html}}">doi.org/{{html_quote(entry['doi']) | html}}</a></p>{{endif}}
            </em>
        </li>
      {{endfor}}

    </ul>

</div>
{{endif}}

{{if lightning}}
<h1>Lightning Talks</h1>

<div id="lightning">
  <ul>
      {{for entry in lightning}}
        <li>{{html_quote(entry['title']) | html}},
        <em>{{html_quote(', and '.join(i['name'] for i in entry['authors'])) | html}}
            {{if entry.get('doi')}}
            <p><a href="https://doi.org/{{html_quote(entry['doi']) | html}}">doi.org/{{html_quote(entry['doi']) | html}}</a></p>{{endif}}
            </em>
        </li>
      {{endfor}}

    </ul>

</div>
{{endif}}


</body>

</html>
