\documentclass[letterpaper,compsoc,onecolumn,twoside,english]{IEEEtran}
\thispagestyle{empty}
\pagestyle{empty}
\usepackage[utf8]{inputenc}
\usepackage{static/status}
\usepackage{hyperref}
\hypersetup{pdftex,  % needed for pdflatex
  breaklinks=true,  % so long urls are correctly broken across lines
  colorlinks=true,
  urlcolor=blue,
  linkcolor=darkblue,
  citecolor=darkgreen,
  }

\begin{document}

% section for keynotes
{{if keynote}}
\section*{Keynote Slides}
\vspace{4mm}

\begin{itemize}

{{for entry in keynote}}
      \item[] \normalsize\textsc{%
{{entry['title']}}}, \small{%
{{", and ".join(i['name'] for i in entry['authors'])}}}{{if entry.get('doi')}}\\
\href{https://doi.org/{{entry['doi']}}}{doi.org/{{entry['doi']}}}{{endif}}
{{endfor}}

\end{itemize}
{{endif}}

% section for accepted talks
{{if slides}}
\section*{Accepted Talk Slides}
\vspace{4mm}

\begin{itemize}

{{for entry in slides}}
      \item[] \normalsize\textsc{%
{{entry['title']}}}, \small{%
{{", and ".join(i['name'] for i in entry['authors'])}}}{{if entry.get('doi')}}\\
\href{https://doi.org/{{entry['doi']}}}{doi.org/{{entry['doi']}}}{{endif}}
{{endfor}}

\end{itemize}
{{endif}}

% section for accepted posters
{{if posters}}
\section*{Accepted Posters}
\vspace{4mm}

\begin{itemize}

{{for entry in posters}}
    \item[] \normalsize\textsc{%
{{entry['title']}}}, \small{%
{{", and ".join(i['name'] for i in entry['authors'])}}}{{if entry.get('doi')}}\\
\href{https://doi.org/{{entry['doi']}}}{doi.org/{{entry['doi']}}}{{endif}}
{{endfor}}
\end{itemize}
{{endif}}

% section for scipy tools plenaries
{{if tools}}
\section*{SciPy Tools Plenaries}
\vspace{4mm}

\begin{itemize}

{{for entry in tools}}
    \item[] \normalsize\textsc{%
{{entry['title']}}}, \small{%
{{", and ".join(i['name'] for i in entry['authors'])}}}{{if entry.get('doi')}}\\
\href{https://doi.org/{{entry['doi']}}}{doi.org/{{entry['doi']}}}{{endif}}
{{endfor}}
\end{itemize}
{{endif}}

% section for lightning talks
{{if lightning}}
\section*{Lightning Talks}
\vspace{4mm}

\begin{itemize}

{{for entry in lightning}}
    \item[] \normalsize\textsc{%
{{entry['title']}}}, \small{%
{{", and ".join(i['name'] for i in entry['authors'])}}}{{if entry.get('doi')}}\\
\href{https://doi.org/{{entry['doi']}}}{doi.org/{{entry['doi']}}}{{endif}}
{{endfor}}
\end{itemize}
{{endif}}


\end{document}
