<h1>Sponsored Students</h1>

<div id="content">

  <ul>

    {{for student in sponsored_students}}
      <li>{{html_quote(student['name']) | html}},
      <em>{{html_quote(student['org']) | html}},
          {{html_quote(student['location']) | html}}</em>
      </li>
    {{endfor}}

  </ul>

</div>

</body>

</html>
