\documentclass[letterpaper,compsoc,onecolumn,twoside,english]{IEEEtran}
\thispagestyle{empty}
\pagestyle{empty}
\usepackage[utf8]{inputenc}
\usepackage{static/status}

\begin{document}

\section*{Scholarship Recipients}
\vspace{4mm}

\begin{itemize}

{{for student in scipy_scholarship}}
      \item[] \normalsize\textsc{%
{{student['name']}}}, \small{%
{{student['org']}}}
{{endfor}}

\end{itemize}

\end{document}
