\documentclass[letterpaper,compsoc,onecolumn,twoside,english]{IEEEtran}
\usepackage[utf8]{inputenc}
\setlength{\parindent}{0mm}
\thispagestyle{empty}
\pagestyle{empty}


\begin{document}

\section*{Contents}
\vspace{4mm}

{{for line in toc}}

  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
  \textsf{%
{{line['title']}}%
  \hfill%
  \textbf{ {{line['page']['start']}} }%
  \\%
\small\textit{%
\parbox{0.9\textwidth}{
{{line['authors']}} }%
}%
}%
  \\
  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

{{endfor}}

\end{document}
