<html>
<head>
<style type="text/css">

body {
  font-family: Verdana, sans-serif;
}

#content {
  width: 40em;
  background: #D0D0D5;
  padding: 0.5em 1em 0.5em 1em;
}

.title {
  float: left;
}

.pagenr {
  float: right;
}

.authors {
   font-style: italic;
   padding-left: 1em;
}

</style>
</head>

<body>

<h1>Table of Contents</h1>

<div id="content">

{{for line in toc}}
  <!---------------------------------------------------------->
  <p>
  <span class="title">{{line['title']}}</span>
  <span class="pagenr">{{line['page']}}</span><br/>
  <span class="authors">{{line['authors']}}</span>
  </p>
  <!---------------------------------------------------------->
{{endfor}}

</div>

</body>

</html>
