<html>
<head>
<title>Table of Contents</title>
<link rel="stylesheet" href="toc.css" type="text/css"/>
</head>

<body>

<h1>Table of Contents</h1>

<div id="content">

{{for line in toc}}
  <!---------------------------------------------------------->
  <p>
  <span class="title">{{html_quote(line['title']) | html}}</span>
  <span class="pagenr">{{html_quote(line['page']) | html}}</span><br/>
  <span class="authors">{{html_quote(line['authors']) | html}}</span>
  </p>
  <!---------------------------------------------------------->
{{endfor}}

</div>

</body>

</html>
