Dear {{to_name}},

Congratulations on having your abstract, "{{title}}", accepted for this year's event -- we look forward to seeing your poster or presentation! As in the past, {{proceedings['title']['acronym']}} {{proceedings['year']}} will release a conference proceedings prior to the start of the conference, and you are invited to contribute a full-length paper (up to 8 pages, not including references) expanding on your abstract.

The proceedings are aimed at highlighting significant contributions to scientific computing in Python, including but not limited to:
    - data-driven algorithms and products created with Python
    - software for managing a data lifecycle that integrates with Python
    - domain-specific applications of Python in any field of research
    - significant improvements to existing scientific Python packages

Papers must be submitted as pull requests via GitHub by May 27th, 2022. At that point, the five-week open review period will begin. During this time, members from the proceedings committee and the scientific Python community at large will provide feedback, which should be addressed through discussion on GitHub and by updating the pull request. Further instructions can be found here:
https://github.com/scipy-conference/scipy_proceedings#instructions-for-authors

The schedule of important dates includes:
    - May 27th: 1st draft for submission
    - June 9th: Reviewers complete initial review
    - June 23: Final recommendation and review deadline
    - June 29th: Final author revision deadline
    - July 6th: Final editorial decisions for proceedings contents
    - July 30th: Time window for publishing conference-ready proceedings

When submitting a paper to the proceedings, you may be contacted by the Proceedings Chairs to assist in reviewing other papers.

After the conference, you will have the opportunity to submit electronic copies of your poster or talk slides for archiving with {{proceedings['title']['acronym']}}. Further information about submitting slides and posters can be found here: https://github.com/scipy-conference/scipy_proceedings#instructions-for-slides

Yours,
The {{proceedings['title']['acronym']}} {{proceedings['year']}} Proceedings Committee
{{for n in proceedings['editor']}}
  {{n}}
{{endfor}}


