From: {{sender['name'] | html}}
Subject: [{{conference}}] Invitation to submit to the {{conference}} Proceedings
To: {{recipients | html}}
Cc: {{editor_email_string | html}}
MIME-Version: 1.0
Content-Type: text/plain

Dear {{author}},

Congratulations on having your abstract "{{title}}" accepted for this
year's event -- we look forward to seeing your poster or presentation! As in
the past, {{conference}} will release a conference proceedings prior to the
start of the conference, and you are invited to contribute a full-length paper
(up to 8 pages) expanding on your abstract.

The proceedings are aimed at highlighting significant contributions to 
scientific computing in Python, such as:

- new software packages that support the Scientific Python Stack
- domain-specific applications of Python in any field of research
- significant improvements to existing software packages
- hardware systems designed to support the Python stack
- applications of scientific computing in education

To submit a paper to the proceedings, submit a pull request to {{github_url}}.

Papers must be submitted as pull requests by {{submission_date}}. 

At that point, the six-week open review period begins. During this time, members
from the program committee and the scientific Python community at large will
provide feedback, which should be addressed through discussion on GitHub and by
updating the pull request.

When submitting a paper to the proceedings, you may be contacted by the
Proceedings Chairs to assist in reviewing at least one paper.

Further instructions can be found here:
  {{readme_url['authors']}}
  
You can see all the papers that have been submitted so far at this site: 
  {{built_proceedings_url}}


Sincerely, the {{conference}} Proceedings Chairs,

{{for cochair in committee}}
- {{cochair['name']}} <{{cochair['email']}}>
{{endfor}}

