Dear {{to_name}},

Your paper from the {{proceedings['title']['ordinal']}} {{proceedings['title']['conference']}} titled "{{title}}" has been assigned the DOI {{doi}}. Please use this DOI when providing citations for your paper, following the guidelines here: https://www.crossref.org/display-guidelines/#full

Yours,
The {{proceedings['title']['acronym']}} {{proceedings['year']}} Proceedings Committee
{{for n in proceedings['editor']}}
  {{n}}
{{endfor}}
