Dear {{to_name}},

We hope this note finds you and your loved ones healthy and well. Thank you for volunteering to review full papers for the {{proceedings['title']['acronym']}} {{proceedings['year']}}. As the proceedings co-chairs, we ask for your assistance in reviewing "{{title}}", which can be found at {{url}}.

Our goal is to help this paper reach a point where it is easily readable, understandable, and verifiable. In the spirit of SciPy and of open-source development, we encourage an iterative process with early feedback to the paper authors. A good first step is to introduce yourself in a comment on the pull request.

If you agree, please reply to this email with your GitHub username within the next week. We ask that you complete an initial review no later than June 18th, and to work with the author through June 30th, or until you feel the paper is ready for inclusion in the proceedings. More detailed instructions can be found in the README (https://github.com/scipy-conference/scipy_proceedings#instructions-for-reviewers). You can find the latest PDFs of all the papers at http://procbuild.scipy.org.

Please don't hesitate to contact us with any questions.

Yours,
The {{proceedings['title']['acronym']}} {{proceedings['year']}} Proceedings Committee
{{for n in proceedings['editor']}}
  {{n}}
{{endfor}}


