Dear {{to_name}},

Thank you for responding to the SciPy 2024 Program Review Committee Interest Form. The results of that form indicate that you are willing to complete full paper reviews for the SciPy Proceedings.

We appreciate your interest and extend this invitation to you to become a SciPy 2024 Proceedings reviewer. We hope to hear an acceptance from you via a reply to this email (reply-to: proceedings@scipy.org) by April 9, 2024.

This will be an exciting year for the SciPy Proceedings. Starting this year, the SciPy Proceedings will be hosted by a professional journal publication platform, Curvenote, a sponsor of SciPy 2024. Curvenote is a leader for the development of MyST Markdown (https://mystmd.org/), the next-generation Python markdown embraced by Sphinx and Jupyter for embedding interactive code into scientific publications. Curvenote will significantly improve the look and feel of SciPy Proceedings as well as position SciPy Proceedings at the forefront of scientific publication along with other Curvenote journal publishers such as the American Geophysical Union, Microscopy Society of America, and Physiome.

If you accept, the process for reviewing papers will be introduced to you through both written instructions and optional webinars. The Proceedings Committee aims to make this process easy and lightweight for you. In a nutshell, 1) you will view rendered papers on the Curvenote SciPy Proceedings website (see https://proceedings.scipy.org and an announcement coming soon), and 2) you will make review comments on source code (either MyST or LaTeX) for the papers through the normal GitHub pull request review process. Knowledge of MyST or LaTeX is not required on the part of the reviewer. Your job as a reviewer will be to make helpful and friendly comments on the content and style of rendered papers in order to produce the best possible SciPy Proceedings.

Should you accept, you will be assigned a paper to review according to the schedue below based on two factors: 1) the tracks you indicated you would be willing to review on the SciPy 2024 Program Review Committee Interest Form, and 2) the conflict of interest information you have already provided to the program committee, which has been shared with the proceedings committee. The proceedings committee anticipates you will use the GitHub userid you also provided on the interest form for your review work.

The 2024 schedule for the SciPy Proceedings is based around an initial review, a final review, and a final decision. Within the schedule are dates pertaining to three roles: authors, reviewers, and proceedings committee co-chairs.

Deadline to respond to offer to be a reviewer   2024-04-09
Authors invited to submit full papers           2024-04-19
Deadline to submit first draft by authors       2024-05-31
Assignment of reviewers to papers               2024-05-31

(Reviewers comment on papers to authors during this period.)
(Authors also respond to review comments with improvements to papers during this period.)

Initial reviews complete                        2024-06-21

(Reviewers continue to comment on paper improvements during this period.)
(Authors also respond to review comments with further improvements to papers during this period.)

Final review deadline                           2024-07-26

(Authors continue to make revisions in response to final review comments during this period.) 

Final author revision deadline                  2024-07-31

(Authors put down their pens.)
(Reviewers make an up or down decision on publication readiness of papers during this period.)

Final reviewer decision deadline               2024-08-09
Proceedings committee co-chairs final signoff  2024-08-16

(The publication process begins after final signoff.)

Please don't hesitate to contact us at proceedings@scipy.org with any questions.

Yours,
The SciPy 2024 Proceedings Committee
Co-chairs:
   Meghann Agarwal
   Amey Ambade
   Chris Calloway
   Rowan Cockett
   Sanhita Joshi
   Charles Lindsey
   Hongsup Shin
